$menuActiveText:#FFF;
$menuBg:#001529;
$menuActiveBg: #1890ff;
$menuHover:#263445;
$menuWidth: 180px;
$subMenuBg: #000c17;

$--color-danger: #ff4949;
$--color-disabled: #c0c4cc;
$--color-success: #67c23a;